/* .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(186, 208, 255);
  padding: 2vh;
}

.logo{
  padding-right: 20px;
}

.home{
  padding-left: 20px;

} */

/* Header */
.header {
  background: #ffc1cc;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eddbf4;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}


