/* 파일: d:\hsy\mbc\mbcBoard_react\src\App.css */

/* .app-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #e0e7ff 0%, #f8fafc 100%);
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15vh
}

.app-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  padding: 32px 24px;
  min-width: 350px;
  width: 100%;
  max-width: 700px;
}

.app-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #6366f1;
  margin-bottom: 24px;
} */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fff5f7;
  color: #333;
}
